@model List<Souq.Models.Category>


<section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>
            Site Sections
        </h2>
        <p>
            We offer the best services that meet your needs, and your orders will be delivered wherever you are.
        </p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">
            @foreach (var item in Model)
            {

                <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-item d-flex" style="width= 100% !important">
                        <div class="icon flex-shrink-0"><i class=".cat-@item.Photo"></i></div>
                        <div>
                            <h4><a href=/Home/Proudects/@item.Id>@item.Name </a></h4>
                            <p class="description"> @item.Descrption </p>
                        </div>
                    </div>
                </div>
              
            }


        </div>

    </div>

</section><!-- /Services Section -->
