@model List<Souq.Models.Product>


<div class="container mt-4">
    <div class="col-12">
        <form action="/Home/ProudectSerch" method="get">
            <div class="row">
                <div class="input-group">
                    <input type="text" name="aa" id="aa"
                           class="form-control"
                           placeholder="Search..." />
                    <button class="btn btn-primary" type="submit">
                        Search
                    </button>
                </div>
        </form>
    </div>
</div>
        </div>


<section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>
            The Ruslt Srearch Is
        </h2>
        <p>
            We offer the best services that meet your needs, and your orders will be delivered wherever you are.
        </p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">
            @foreach (var item in Model)
            {

                <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-item d-flex">
                        <div>
                            <img src="@item.Photo" style="width: 100% !important" />
                            <h4 class="title"><a href="/Home/CuranntProduct/@item.Id" class="stretched-link">@item.Name </a></h4>
                            <p class="description"> @item.Describtion </p>
                        </div>
                    </div>
                </div>

            }


        </div>

    </div>

</section>
